*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    position: relative;
    width: 100%;
    height: 1400px;
    /* border: 2px solid red; */
}
.img1{
    position: absolute;
    width: 100%;
    height: 85vh;
}
nav{
    position: fixed;
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, .06);
    transition: all 0.4s ease;
    z-index: 1000;
}
nav.active{
    background-color: rgba(0, 86, 179, .7);
    /* box-shadow: 0 3px 10px rgba(0,0,0,0.2); */
    height: 100px;
}
nav.active .img2{
    position: absolute;
    width: 150px;
    height: 78px;
    left: 30px;
    top: 10px;
}
nav.active .toggle{
    height: 70px;
    width: 100px;
    position: absolute;
    right: 80px;
    top: 25px;
}
nav.active .toggle .line{
    width: 50px;
    height: 6px;
    border-radius: 25px;
    margin: 2px;
}
.img2{
    position: absolute;
    width: 200px;
    height: 128px;
    left: 36px;
    top: 15px;
    transition: all 0.4s ease;
}
.toggle{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 80px;
    top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    display: none;
}
.line{
    width: 70px;
    height: 12px;
    background-color: white;
    /* border-radius: 25px; */
    margin: 2px;
    transition: 0.5s ease;
}
#chk{
    display: none;
}
@media (max-width:400px) {
.img1{
    height: 60vh;
}
.img2{
    position: absolute;
    width: 20%;
    height: 53px;
    left: 3px;
    top: 15px;
    transition: all 0.4s ease;
}
.toggle{
    height: 50px;
    width: 50px;
    /* border: 2px solid red; */
    position: relative;
    float: right;
    right: 23px;
    top: 25px;
    display: block;
}
.line{
    width: 45px;
    height: 7px;
    
}
nav{
    height: calc(100% - 84%);
    background-color: rgba(255, 255, 255, 0.018);
}
nav.active{
    height: calc(100% - 89.5%);
}
#chk:checked ~ label nav .toggle .line  {
    cursor: pointer;
    border-radius: 25px;
 }
#chk:checked ~ label nav .toggle .line1{
    width: 38px;
    height: 6px;
    transform: rotate(45deg) translate(12px, 5px);
}
#chk:checked ~ label nav .toggle .line2{
    opacity: 0;
}
#chk:checked ~ label nav .toggle .line3{
    width: 38px;
    height: 6px;
    transform: rotate(-46deg) translate(4px, 1px);
}
#chk:checked ~ label nav.active .toggle .line1{
    width: 38px;
    height: 6px;
    transform: rotate(45deg) translate(12px, 5px);
}
#chk:checked ~ label nav.active .toggle .line3{
    width: 38px;
    height: 6px;
    transform: rotate(-46deg) translate(4px, 1px);
}
#chk:checked ~ label nav .toggle{
    right: 15px;
    top: 20px;
}
#chk:checked ~ label nav.active .toggle{
    right: -15px;
}
nav.active .img2{
    width: 20%;
    height: 40px;
    top: 15px;
    left: 1px;
}
nav.active .toggle{
    right: -25px;
    top: 25px;
}
nav .toggle .line,
nav.active .toggle .line{
    width: 30px;
    height: 5px;
    border-radius: 0;
}
nav .toggle{
    right: 2px;
}
}